<section class="receipt">
  <h2>Inhalt:</h2>

  {% assign beer = site.data.beer[page.beer] %}

  <p>EBC: {% calc_beer %}</p>

  <h3>Malz</h3>
  <ul>
    {% for malts in beer.malts %}
      {% assign name = malts[0] %}
      {% assign weight = malts[1] %}
      {% assign malt = site.data.malts[name] %}
      {% assign name = malt.name %}
      <li>{{ weight }}g {{ name }}
        <i>({{ malt.ebc }} EBC)</i>
      </li>
    {% endfor %}

    <p>Gesamtschüttung: {{ beer | get_sum_weight }}</p>
  </ul>

  <h3>Hopfen</h3>
  <ul>
    {% for hops in beer.hops %}
      {% assign hop = site.data.hops[hops.type] %}
      {% assign weight = hops.weight %}
      {% assign time = hops.time %}
      <li>{{ weight }}g {{ hop.name }} <i>({{ hop.alpha }}%&alpha;)</i> @{{ time }}
      </li>
    {% endfor %}
  </ul>

  <h3>Meta</h3>
  <ul>
    {% for meta in beer.meta %}
      {% unless meta[0] == 'isom' %}
        <li>{{ meta[0] }}: {{ meta[1] }}</li>
      {% endunless %}
    {% endfor %}

    {% if beer.meta.lager %}
      <li>Lagerzeit: {{ beer.meta.lager }} Wochen</li>
    {% endif %}

    <li>Nachisomerisierungszeit:
      {% unless beer.meta.isom %}
        25
      {% else %}
        {{ beer.meta.isom }}
      {% endunless %}
      Min. </li>
  </ul>

  {% if beer.orig %}
    <p>
    <small><a href="{{ beer.orig }}">Quellrezept</a></small>
    </p>
  {% endif %}
</section>
