.beer-header {

  h1.beer-headline {
    /*font-weight: bold;*/
  }

}

section.receipt {
  h2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid $brown_dark_desaturated;
  }

  ul.square li {
    list-style-type: square;
  }

  ul li {
    list-style-type: decimal;
  }

  background-color: $more_black;
  padding: 12px;
}
